nav{
  grid-area: nav;
}
header {
  grid-area: header;
  background-color:rgb(196 195 195);
}
main {
  grid-area: main;
  background-color: rgb(244, 238, 251);
}
footer{
  grid-area: footer;
}
.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  height: 100vh;
}
body {
  background-color: rgb(74, 72, 174);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.filtros {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.filtros{
  background-color: rgb(196, 195, 195);
  color: #333;
}

.filtros,div {
  margin-bottom: 30px;
}
select {
  width: 100%;
}


/*hamburguesa*/
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
}
.navbar{
  color: rgb(255, 255, 255);
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - var(--altura_header));
}

.labe_hamburguesa {
  color: rgb(251, 250, 250);
}

.list_icon {
  color: var(--color_blanco);
  cursor: pointer;
}

.ul_links {
  width: 80%;
  background-color: var(--color_blue);
  position: absolute;
  top: 0%;
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 2rem;
  transition: all 0.3s;
}

.link {
  font-size: 20px;
  color: var(--color_blanco);
  font-weight: bold;
}

/*fin de hamburguesa*/

/*targetas*/
.tarjeta-producto {
  width: 250px;
  height: 400px;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  padding: 15px;
  text-align: center; 
}

.tarjeta-producto img {
  width: 100%; 
  height: 290px; 
  margin-bottom: 20px;
}

h2 {
  color: #0e0e0e; 
  font-size: 20px; 
  font-weight: 300;
  margin-bottom: 10px;
}

.boton-ver-mas {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
/*fin de targetas*/

footer {
  background-color: #082849;
  color: white;
  text-align: center;
}
footer,a{
  padding: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}



/*  latptop */
@media (width >= 1024px) {
  
  .container {
    grid-template-areas:
      "nav header"
      "nav main "
      "nav main"
      "nav main"
      "footer main";

    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto auto ;
  }
  .navbar{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .labe_hamburguesa {
    display: none;
  }

  .ul_links {
    position: relative;
    width: auto;
    height: auto;
  }

  .link {
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
    padding: 0.2rem 0.7rem;
  }

  .link:hover {
    background-color: #5f1192;
  }
  .filtros {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .filtros div {
    margin-bottom: 30px;
  }
  select {
    width: 100%;
  }
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }


}
